/*Estilos generales*/
/*Por lo general tendras estos estilos en tu proyecto*/
html,
body {
  background-color: gray;
  font-family: sans-serif;
}

.img_perro1 {
  background-image: url(https://images.pexels.com/photos/1378849/pexels-photo-1378849.jpeg?auto=compress&cs=tinysrgb&w=1600);
}

.img_perro2 {
  background-image: url(https://images.pexels.com/photos/7296954/pexels-photo-7296954.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)
}

.family_tv {
  height: 100%;
  width: 100%;
  object-fit: cover;
  image-rendering: optimizeSpeed;
  image-orientation: initial;
}

/*Estilos parallax*/
.container {
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  perspective: 3px;
}

section {
  background-size: cover;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tv{
  background-color: aqua;
  height: 50px;
  width: 360px;
  position: absolute;
  left: 25px;
}
.parallax-bg {
  height: 50vh;
}

.parallax-bgF {
  height: 50vh;
}

.parallax-bg {
  background-position: center center;
  transform: translateZ(-0.5px) scale(2);
  background-size: cover;
  z-index: -1;
}

.parallax-content {
  z-index: -1;
  transform: translateY(-25vh) translateZ(0px) scale(1);
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}

.no-parallax-section {
  height: 50vh;
}

.no-parallax-content {
  text-align: center;
  padding: 30px;
}

/*Colores de fondo*/
.bg-1 {
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(234, 38, 255, 1) 0%, rgba(0, 212, 255, 1) 100%);
}

.bg-2 {
  background: linear-gradient(90deg, rgba(0, 83, 33, 1) 0%, rgba(215, 198, 1, 1) 100%);
}