.html {
  color: orangered;
  text-align: left;
}

.css {
  color: aqua;
  text-align: left;
}

.container {
  display: flex;
  flex-direction: row;
  padding: 10vw;
  width: 80vw;
  height: 60vh;
}

.container_html {
  padding: 0vw 2vw 0vw 0vw;
}

.container_css {
  padding: 0vw 0vw 0vw 2vw;
}

.htmlCont,
.cssCont {
  background-color: black;
  border-radius: 10px;
  color: azure;
}

.table {

  height: 50vh;
  width: 39vw;
}

.tableBody {
  vertical-align: initial;
}
/* Pantallas de menos de 500px de ancho */
@media screen and (max-width: 500px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 10vw;
    width: 80vw;
    height: 80vh;
  }
  .table {
    height: 35vh;
    width: 80vw;
  }
}