.backgroundLand {
  background-color: darkslategray;
}

.html {
  color: aqua;
  text-align: left;
}

.css {
  color: red;
  text-align: left;
}

.col2 {
  width: 10vw;
}

.htmlCont,
.cssCont {
  background-color: black;
  border-radius: 10px;
  color: azure;
  width: 35vw;
  height: 50vh;
}

.table {
  padding: 10% 10% 90% 10%;
  height: 100vh;
  width: 100vw;
}

.tableBody {
  vertical-align: initial;
}